@import '../../styles/settings.scss';

section.component {
  position: relative;
  width: 30%;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  color: black;

  section > section:hover,
  section > section:active {
    box-shadow: 2px 2px 10px rgb(189, 188, 188);
  }

  h2 {
    padding-bottom: 20px;
  }

  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
}
